*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #f79ec8, #ffadfc);
    font-family: Arial, sans-serif;
}
.container {
    background: white;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
}
h1 {
    text-align: center;
    color: #b5718a;
}
.opcao {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}
input[type="radio"] {
    accent-color: #e4aabd;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #f68cb0;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #e04376;
}
.carrinho {
    margin-top: 20px;
    padding: 15px;
    background: #ffe6f0;
    border-radius: 10px;
    border: 2px solid #ffb3cc;
}
#lista {
    margin-top: 10px;
}
#total {
    font-weight: bold;
    margin-top: 10px;
}

.opcao{
    display: block;
    margin: 8px 0;
}